@model Natroral.WebUI.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="wrapper">
    <section class="main">
        <section>
            <header>
                <h1>@ViewBag.Title</h1>
            </header>
            <br />
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Enter your email.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="row paddings">
                    @Html.LabelFor(m => m.Email, new { @class = "col-3 col-12-small" })
                    <div class="col-8 col-11-small">
                        @Html.TextBoxFor(m => m.Email)
                    </div>
                </div>
                <div class="row paddings">
                    <div class="col-3 col-11-small"></div>
                    <div class="col-8 col-11-small">
                        <input type="submit" class="button primary" value="Email Link" />
                    </div>
                </div>
            }
        </section>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
