@model Natroral.WebUI.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<div class="wrapper">
    <section class="main">
        <section>
            <header>
                <h1>@ViewBag.Title</h1>
            </header>
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="row paddings">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-3 col-12-xsmall" })
                    <div class="col-7 col-12-xsmall">
                        @Html.PasswordFor(m => m.OldPassword)
                    </div>
                </div>
                <div class="row paddings">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-3 col-12-xsmall" })
                    <div class="col-7 col-12-xsmall">
                        @Html.PasswordFor(m => m.NewPassword)
                    </div>
                </div>
                <div class="row paddings">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-3 col-12-xsmall" })
                    <div class="col-7 col-12-xsmall">
                        @Html.PasswordFor(m => m.ConfirmPassword)
                    </div>
                </div>
                <hr />
                <div class="row paddings">
                    <div class="off-3 col-7 off-1-xsmall col-12-xsmall">
                        <input type="submit" value="Change password" class="button primary" />
                    </div>
                </div>
            }
        </section>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
