@model Natroral.Core.ViewModels.ProductManagerViewModel

@{
    ViewBag.Title = "Edit Product";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="wrapper">
    <section class="main">
        <section>
            <header>
                <h1>@ViewBag.Title</h1>
            </header>
            <br />
            @using (Html.BeginForm("Edit", "ProductManager", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="row gtr-200">
                    <div class="col-7 col-10-medium col-12-small">
                        <img class="image fit prod-img" src="~/Content/ProductImages/@Model.Product.Image" />
                    </div>
                </div>
                <div class="row gtr-200 paddings">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Product.Id)
                    <div class="col-3 col-12-small">
                        Product Name
                    </div>
                    <div class="col-6 col-12-small">
                        @Html.EditorFor(model => model.Product.Name)
                        @Html.ValidationMessageFor(model => model.Product.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row gtr-200 paddings">
                    <div class="col-3 col-12-small">
                        SEO Name
                    </div>
                    <div class="col-6 col-12-small">
                        @Html.EditorFor(model => model.Product.SEOName)
                        @Html.ValidationMessageFor(model => model.Product.SEOName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row gtr-200 paddings">
                    <div class="col-3 col-12-small">
                        Product Summary
                    </div>
                    <div class="col-6 col-12-small">
                        @Html.TextAreaFor(model => model.Product.Summary, new { @rows = 4 })
                        @Html.ValidationMessageFor(model => model.Product.Summary, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row gtr-200 paddings">
                    <div class="col-3 col-12-small">
                        Description
                    </div>
                    <div class="col-6 col-12-small">
                        @Html.TextAreaFor(model => model.Product.Description, new { @rows = 6 })
                        @Html.ValidationMessageFor(model => model.Product.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row gtr-200 paddings">
                    <div class="col-3 col-12-small">
                        Product Tags
                    </div>
                    <div class="col-6 col-12-small">
                        @Html.TextAreaFor(model => model.Product.Tags, new { @rows = 2 })
                        @Html.ValidationMessageFor(model => model.Product.Tags, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row gtr-200 paddings">
                    <div class="col-3 col-12-small">
                        Product Usage
                    </div>
                    <div class="col-6 col-12-small">
                        @Html.TextAreaFor(model => model.Product.Usage, new { @rows = 4 })
                        @Html.ValidationMessageFor(model => model.Product.Usage, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row gtr-200 paddings">
                    <div class="col-3 col-12-small">
                        Net Weight
                    </div>
                    <div class="col-6 col-12-small">
                        @Html.EditorFor(model => model.Product.Weight)
                        @Html.ValidationMessageFor(model => model.Product.Weight, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row gtr-200 paddings">
                    <div class="col-3 col-12-small">
                        Rating
                    </div>
                    <div class="col-6 col-12-small">
                        @Html.EditorFor(model => model.Product.Rating)
                        @Html.ValidationMessageFor(model => model.Product.Rating, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row gtr-200 paddings">
                    <div class="col-3 col-12-small">
                        Unit Price
                    </div>
                    <div class="col-6 col-12-small">
                        @Html.EditorFor(model => model.Product.Price)
                        @Html.ValidationMessageFor(model => model.Product.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row gtr-200 paddings">
                    <div class="col-3 col-12-small">
                        Product Image
                    </div>
                    <div class="col-6 col-12-small">
                        <input type="file" id="file" name="file" class="form-control" />
                    </div>
                </div>
                <div class="row gtr-200 paddings">
                    <div class="col-3 col-12-small">
                        Category Name
                    </div>
                    <div class="col-6 col-12-small">
                        @Html.DropDownListFor(model => model.Product.Category, new SelectList(Model.Categories, "CategoryName", "CategoryName"))
                    </div>
                </div>
                <hr />
                <div class="row gtr-200 paddings">
                    <div class="col-3 col-12-small">
                    </div>
                    <div class="col-6 col-12-small">
                        <input type="submit" value="Save" class="button primary" />
                    </div>
                </div>
            }
            @Html.ActionLink("Back to List", "Index")
        </section>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
