@model IEnumerable<Natroral.Core.Models.Order>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<div class="wrapper">
    <section class="main">
        <section>
            <header>
                <h1>@ViewBag.Title</h1>
            </header>
            <div class="table-wrapper">
                <table class="alt">                    
                    @foreach (var item in Model)
                    {                       
                        <tr>
                            <td>
                                Order ID:  @Html.DisplayFor(modelItem => item.Id) <br />
                                Order Date: @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                Name:
                                @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName) <br />
                                Email: @Html.DisplayFor(modelItem => item.Email)
                            </td>                          
                            <td>
                                Order Status: @Html.DisplayFor(modelItem => item.OrderStatus)
                            </td>
                            <td>
                                @Html.ActionLink("Manage Order", "UpdateOrder", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </section>
    </section>
</div>

